@use '../../../sass/abstracts/variables.module' as variables;

.player {
  margin-bottom: 1.5rem;
}

.title-statistics-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 3.6rem;
  font-weight: bold;
}

.views {
  font-size: 2rem;
  color: variables.$color-text-s;
}

.buttons-container {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 4rem;
  transform: translateY(0.5rem);
}

.statistics-buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.description-subscribe-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}
