@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.banner {
  margin-bottom: 2.6rem;
  padding-right: variables.$channel-page-right-spacing;
  width: 100%;
}

@include mixins.media-mobile {
  .banner {
    padding-right: 0;
  }

  .cover {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto;
    object-fit: cover;
  }
}
