@use '../../../sass/abstracts/mixins.module' as mixins;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 3.6rem;
  font-weight: bold;
}

@include mixins.media-mobile {
  .container {
    @include mixins.content-layout-mobile;
    gap: 1.3rem;
  }

  .title {
    font-size: 2rem;
  }
}
