.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  display: none;
}

.title-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 3.6rem;
  font-weight: bold;
}
