@use './variables.module' as variables;

// Fonts

@mixin title {
  font-size: 2.6rem;
  font-weight: bold;
  color: variables.$color-text-xl;
}

@mixin statistics {
  font-size: 1.3rem;
  color: variables.$color-text-s;
}

// Progress Bar

@mixin progress-bar($height) {
  position: relative;
  width: 100%;
  height: $height;

  background-color: variables.$color-background-s-transparent;
  border-radius: variables.$progress-bar-border-radius;
}

@mixin current-progress($width, $color) {
  position: absolute;
  left: 0;
  width: $width;
  height: 100%;

  background-color: $color;
  border-radius: variables.$progress-bar-border-radius;
}

// Breakpoints

@mixin media-mobile {
  @media screen and (width: variables.$screen-width-mobile) {
    @content;
  }
}
