$color-background-s: #ffffff;
$color-background-m: #ebebeb;

$color-text-xs: #ffffff;
$color-text-s: #c2c2c2;
$color-text-m: #30384c;
$color-text-l: #898989;
$color-text-xl: #19202c;

$color-accent: #ff0000;

