@use '../../../sass/abstracts/variables.module' as variables;

.nav {
  display: flex;
  align-items: center;
  gap: 7rem;
  margin-bottom: 6rem;

  font-size: 1.8rem;
}

.active-nav-link {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: variables.$color-accent
}
