@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;


.nav {
  margin-bottom: 6rem;
  display: flex;
  gap: 4rem
}

.nav-items-list {
  display: flex;
  align-items: center;
  gap: 7rem;

  font-size: 1.8rem;
}

.active-nav-link {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: variables.$color-accent
}

.more-options-button {
  display: none;
}

@include mixins.media-mobile {
  .nav {
    margin-bottom: 2rem;
    width: 27.2rem;
  }

  .nav-items-list {
    gap: 4rem;
    font-size: 1.4rem;
  }

  .more-options-button {
    display: block;
  }
}
