@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.top-block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-title-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.channel-title {
  @include mixins.title();
}

.subscribe-paginate-container {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 4rem;
  height: 100%;

  transform: translateY(1rem);
}

@include mixins.media-mobile {
  .top-block-container {
    display: none;
  }

  .image-title-container {
    flex-direction: column;
  }
}
