@use '../../../../sass/abstracts/variables.module' as variables;

.container {
  position: relative;
  margin-bottom: 1.5rem;
}

.player-buttons {
  position: absolute;
  bottom: variables.$player-spacing;
  left: variables.$player-spacing;
  right: variables.$player-spacing;

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.time {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-size: 2.2rem;
  color: variables.$color-text-xs;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.left-buttons-container {
  display: flex;
  gap: 4rem;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 13rem;
}

.right-buttons-container {
  display: flex;
  gap: 2.5rem;
}
