@use '../../../../sass/abstracts/variables.module' as variables;

.container {
  position: relative;
  margin-bottom: 1.5rem;
}

.player-buttons {
  position: absolute;
  bottom: variables.$player-spacing;
  left: variables.$player-spacing;
  right: variables.$player-spacing;

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.time {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-size: 2.2rem;
  color: variables.$color-text-xs;
}

.progress-bar {
  position: relative;

  width: 100%;
  height: 1rem;

  background-color: variables.$color-background-s-transparent;
  border-radius: variables.$progress-bar-border-radius;
}

.progress-bar:before {
  content: "";

  position: absolute;
  left: 0;
  width: 28rem;
  height: 100%;

  background-color: variables.$color-accent;
  border-radius: variables.$progress-bar-border-radius;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.left-buttons-container {
  display: flex;
  gap: 4rem;
}

.right-buttons-container {
  display: flex;
  gap: 2.5rem;
}
