@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.container {
  position: relative;
  margin-bottom: 1.5rem;
}

.player-buttons {
  position: absolute;
  bottom: variables.$player-spacing;
  left: variables.$player-spacing;
  right: variables.$player-spacing;

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.cover {
  max-inline-size: 100%;
  block-size: auto;
}

.time {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-size: 2.2rem;
  color: variables.$color-text-xs;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.left-buttons-container {
  display: flex;
  gap: 4rem;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 13rem;
}

.volume-bar {
  @include mixins.progress-bar(0.8rem);
}

.current-volume {
  @include mixins.current-progress(3.6rem, variables.$color-background-s);
}

.right-buttons-container {
  display: flex;
  gap: 2.5rem;
}

.time-progress-container {
  display: none;
}

@include mixins.media-mobile {
  .container {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    margin: 0;
  }

  .player-buttons {
    bottom: variables.$player-bottom-spacing-mobile;
    left: variables.$player-horizontal-spacing-mobile;
    right: variables.$player-horizontal-spacing-mobile;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1.8rem;

    background-color: variables.$color-progress-bar;
    border-radius: 1rem;
  }

  .next-button {
    display: none;
  }

  .volume-container {
    width: max-content;
  }

  .volume-bar {
    display: none;
  }

  .left-buttons-container {
    width: 100%;
    gap: 1.4rem;
    justify-content: space-between;
  }

  .right-buttons-container {
    display: none;
  }

  .time {
    display: none;
  }

  .pause-button-icon,
  .volume-button-icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .time-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 0.6rem;

    font-size: 1rem;
    color: variables.$color-text-xs;
  }

  .buttons-container {
    width: 100%;
    padding: 0;
  }
}
