@use '../../sass/abstracts/variables.module' as variables;
@use '../../sass/abstracts/mixins.module' as mixins;

.banner {
  margin-bottom: 2.6rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2rem;

  @include mixins.title;
}

.subscribed {
  @include mixins.statistics-text;
}

.nav {
  display: flex;
  align-items: center;
  gap: 7rem;

  font-size: 1.8rem;
}

.active-nav-link {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: variables.$color-accent
}
