@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.list {
  display: flex;
  gap: 4rem;
}

.vertical-list {
  flex-direction: column;
  gap: 3rem;
}

.title {
  @include mixins.title();
}

.additional-information {
  display: flex;
  justify-content: space-between;

  @include mixins.statistics();
  white-space: nowrap;
}

.views-date-container {
  display: flex;
  gap: 0.8rem;
}
