@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.list {
  display: flex;
  gap: 4rem;
  overflow-x: auto;
}

.vertical-list {
  flex-direction: column;
  gap: 3rem;
}

.title {
  @include mixins.title();
}

.active {
  color: variables.$color-accent;
}

.additional-information {
  display: flex;
  justify-content: space-between;

  @include mixins.statistics();
  white-space: nowrap;
}

.views-date-container {
  display: flex;
  gap: 0.8rem;
}

@include mixins.media-mobile {
  .list {
    align-self: center;
    flex-direction: column;
    gap: 3.1rem;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 0.4rem !important;
  }

  .views-date-container,
  .additional-information a {
    font-size: 1.3rem;
  }
}
