@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 3.6rem;
  font-weight: bold;
}

.views {
  font-size: 2rem;
  color: variables.$color-text-s;
}

.buttons-container {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 4rem;
  transform: translateY(0.5rem);
}

.statistics-buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@include mixins.media-mobile {
  .container {
    @include mixins.content-layout-mobile;

    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0 3rem;
  }

  .title {
    width: 21rem;
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .views {
    font-size: 1.2rem;
  }

  .buttons-container {
    max-width: calc(100vw - 1.6rem*2);
    overflow-x: hidden;
    transform: translateY(0);
  }
}
