@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
  padding-right: 10rem;
}

.icon-title-container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.title {
  @include mixins.title();
}

.subscribe-block-container {
  display: flex;
  align-self: start;
  align-items: center;
  gap: 2rem;
}

.subscribed {
  @include mixins.statistics();
}

@include mixins.media-mobile {
  .section {
    @include mixins.content-layout-mobile;

    flex-direction: column;
    align-items: start;
    gap: 2rem;

    margin-bottom: 3rem;
  }

  .channel-icon {
    position: absolute;
    top: -6.5rem;
    left: 0;
    width: 7rem;
    height: 7rem;
  }

  .icon-title-container{
    position: relative;
    flex-direction: column;
    gap: 0;
  }

  .title {
    margin: 0.7rem 0 0.4rem;
    font-size: 2rem;
  }
}
