@use '../../sass/abstracts/variables.module' as variables;
@use '../../sass/abstracts/mixins.module' as mixins;

.container {
  position: absolute;
  left: variables.$content-left-spacing;
}

.input {
  width: 83rem;
  height: 4.4rem;

  background-color: variables.$color-background-m;
  border: none;
  border-radius: 2.2rem;

  &::placeholder {
    font-size: 1.6rem;
    color: variables.$color-text-m;
    transform: translate(2.2rem, 1px);
  }
}

.icon {
  position: absolute;
  top: 1.3rem;
  right: 1.8rem;
}

@include mixins.media-mobile {
  .container {
    position: static;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-right: 2.4rem;
  }

  .input {
    display: none;
  }

  .icon {
    position: static;
  }
}
