@use '../../sass/abstracts/mixins.module.scss' as mixins;

.header {
  position: relative;

  grid-area: header;

  display: flex;
  align-items: center;
  width: 100%;

  @include mixins.media-mobile {
    justify-content: space-between;
  }
}
