@use '../../sass/abstracts/mixins.module.scss' as mixins;


.side-menu {
  grid-area: side-menu;

  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: max-content;
  padding-top: 2rem;

  @include mixins.media-mobile {
    display: none;
  }
}
