@use '../../sass/abstracts/variables.module' as variables;
@use '../../sass/abstracts/mixins.module.scss' as mixins;


.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-left: 139.4rem;

  @include mixins.media-mobile {
    display: none;
  }
}

.icon {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -6px;
  left: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.8rem;
  height: 1.8rem;

  font-size: 1.2rem;
  font-weight: bold;
  color: variables.$color-text-xs;

  background-color: variables.$color-accent;
  border: 1px solid variables.$color-text-xs;
  border-radius: 50px;
}
