@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module' as mixins;


.button {
  width: 15.4rem;
  height: 4rem;

  font-size: 1.6rem;
  color: variables.$color-text-xs;

  background-color: variables.$color-accent;
  border-radius: 2rem;

  @include mixins.media-mobile {
    width: 12rem;
    height: 3.4rem;

    font-size: 1.2rem;
  }
}
