@use '../../../sass/abstracts/variables.module' as variables;
@use '../../../sass/abstracts/mixins.module.scss' as mixins;

.list {
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  color: variables.$color-text-l;
}

@include mixins.media-mobile {
  .list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .item {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
  }
}
