@use '../../../sass/abstracts/variables.module' as variables;

.list {
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  color: variables.$color-text-l;
}
