@use './sass/abstracts/variables.module.scss' as variables;

html {
  font-family: 'Mulish', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: variables.$color-text-xxl;
  background-color: variables.$color-background-s;
}
