@use './sass/abstracts/variables.module.scss' as variables;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

*,
*:before,
*:after {
  font-family: 'Mulish', sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: variables.$screen-width;
  padding-top: variables.$body-top-padding;
  padding-left: variables.$body-left-padding;

  font-size: 1.6rem;
  color: variables.$color-text-xxl;

  background-color: variables.$color-background-s;

  overflow-x: hidden;
}
