@use '../../sass/abstracts/variables.module' as variables;
@use '../../sass/abstracts/mixins.module' as mixins;

.home {
  grid-area: main;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 2rem;
}

@include mixins.media-mobile {
  .home {
    padding-top: 0;
  }

  .section {
    display: none;
  }
}
