@use '../../sass/abstracts/variables.module' as variables;
@use '../../sass/abstracts/mixins.module.scss' as mixins;

.settings {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  font-size: 1.6rem;
  color: variables.$color-text-s;

  @include mixins.media-mobile {
    display: none;
  }
}
